<div class="hover14 column">
  <div class="agile_top_brand_left_grid">
    <div class="agile_top_brand_left_grid_pos">
      <% if rand(2) == 1 %>
        <%=image_tag("offer.png", class: "img-responsive") %>
      <% end %>
    </div>
    <div class="agile_top_brand_left_grid1">
      <figure>
        <div class="snipcart-item block" >
          <div class="snipcart-thumb">
           <%= link_to image_tag("#{item.id}.png", alt: item.name, title: item.name), professional_path(item.id) %>
           <p><%= item.name %></p>
            <div class="stars">
              <i class="fa fa-star blue-star" aria-hidden="true"></i>
              <i class="fa fa-star blue-star" aria-hidden="true"></i>
              <i class="fa fa-star blue-star" aria-hidden="true"></i>
              <% if rand(2) == 1 %>
                <i class="fa fa-star blue-star" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-star gray-star" aria-hidden="true"></i>
              <% end %>

              <i class="fa fa-star gray-star" aria-hidden="true"></i>
            </div>
            <h4><%= item.role%></h4>
          </div>
          <div class="snipcart-details top_brand_home_details">
            <form action="/professionals/<%= item.id%>" method="post">
              <fieldset>
                <input type="submit" name="submit" value="Solicitar" class="button" />
              </fieldset>
            </form>
          </div>
        </div>
      </figure>
    </div>
  </div>
</div>
