  <!-- main-slider -->
    <ul id="demo1">
      <li>
        <%=image_tag("11.jpg") %>
        <!--Slider Description example-->

        <div class="slide-desc">
          <h3>Inovação: reunimos os profissionais que você precisa!</h3>
        </div>
      </li>
      <li>
          <%=image_tag("22.jpg") %>
          <div class="slide-desc">
          <h3>Encanadores, eletricistas, pedreiros e muito mais. Conheça!</h3>
        </div>
      </li>

      <li>
        <%=image_tag("44.jpg") %>
        <div class="slide-desc">
          <h3>Acabe com o medo de errar. Escolha a CONTRATE-ME</h3>
        </div>
      </li>
    </ul>
  <!-- //main-slider -->
  <!-- //top-header and slider -->
  <!-- top-brands -->
  <div class="top-brands">
    <div class="container">
    <h2>Indicados para você</h2>
      <div class="grid_3 grid_5">
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Top Fornecedores</a></li>
            <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Os mais procurados</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
              <div class="agile-tp">
              <% @advertised_professionals.each_with_index do |item, i| %>
                <% if [0, 4].include?(i)%>
                  <div class="agile_top_brands_grids">
                <%end%>
                <div class="col-md-4 top_brand_left">
                  <%= render 'ecommerce/product', :item => item  %>
                </div>
                <% if [0, 4].include?(i)%>
                  <div class="clearfix"> </div>
                  </div>
                <%end%>
              <% end%>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
              <div class="agile-tp">
              </div>
              <% @today_professionals.each_with_index do |item, i| %>
                <% if [0, 4].include?(i)%>
                  <div class="agile_top_brands_grids">
                <%end%>
                <div class="col-md-4 top_brand_left">
                  <%= render 'ecommerce/product', :item => item %>
                </div>
                <% if [0, 4].include?(i)%>
                  <div class="clearfix"> </div>
                  </div>
                <%end%>
              <% end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- //top-brands -->

<%= render 'ecommerce/brand_stores' %>

<%= render 'ecommerce/news' %>
