  <!-- main-slider -->
    <ul id="demo1">
      <li>
        <%=image_tag("11.jpg") %>
        <!--Slider Description example-->

        <div class="slide-desc">
          <h3>Inovação: reunimos os profissionais que você precisa!</h3>
        </div>
      </li>
      <li>
          <%=image_tag("22.jpg") %>
          <div class="slide-desc">
          <h3>Encanadores, eletricistas, pedreiros e muito mais. Conheça!</h3>
        </div>
      </li>

      <li>
        <%=image_tag("44.jpg") %>
        <div class="slide-desc">
          <h3>Acabe com o medo de errar. Escolha a CONTRATE-ME</h3>
        </div>
      </li>
    </ul>
  <!-- //main-slider -->
  <!-- //top-header and slider -->
  <!-- top-brands -->
  <div class="top-brands">
    <div class="container">
    <h2>Top selling offers</h2>
      <div class="grid_3 grid_5">
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Advertised offers</a></li>
            <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Today Offers</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
              <div class="agile-tp">
                <h5>Advertised this week</h5>
                <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
              </div>
              <% for i in 1..2 %>
                <div class="agile_top_brands_grids">
                <% for j in 1..3 %>
                  <%= render 'ecommerce/product' %>
                <% end%>
                <div class="clearfix"> </div>
                </div>
              <% end%>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
              <div class="agile-tp">
                <h5>This week</h5>
                <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
              </div>
              <% for i in 1..2 %>
                <div class="agile_top_brands_grids">
                <% for j in 1..3 %>
                  <%= render 'ecommerce/product' %>
                <% end%>
                <div class="clearfix"> </div>
                </div>
              <% end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- //top-brands -->

<!--brands-->
  <div class="brands">
    <div class="container">
    <h3 >Brand Store</h3>

      <% arr = ["Borracheiro","Cabelereiro","Chaveiro","Desentupidora","Detetização","Diarista","Eletricista","Encanador","Jardineiro","Mecânico","Pedreiro","Pintor"]%>
      <% for j in 1..2 %>
        <div class='brands-agile-<%= j%>'>
          <% for i in 1..6 %>
            <div class="col-md-2 w3layouts-brand">
              <div class="brands-w3l">
                <p><a href="#"><%= arr[j+i]%></a></p>
              </div>
            </div>
          <%end%>
        </div>
        <div class="clearfix"></div>
      <%end%>

      </div>
    </div>
  </div>
<!--//brands-->

<%= render 'ecommerce/news' %>
